.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
/.pnp
/build
/coverage
/node_modules
fullchain.pem
npm-debug.log*
privkey.pem
yarn-debug.log*
yarn-error.log*