.Nav {
    align-items: center;
    background-color: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.Nav * {
    background-color: transparent;
}
    .Nav-left {
        align-items: center;
        display: flex;
    }
        .Nav-logo-img {
            height: 50px;
            margin-left: 30px;
            margin-right: 10px;
        }
        .Nav-logo-txt {
            color: #FF385C;
            font-size: 25px;
            font-weight: 700;
        }
    .Nav-right {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
        .Nav-notifications-btn {
            background-color: rgb(240, 240, 240);
            width: 40px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .Nav-notifications-icon {
                color: rgb(130, 130, 130);
            }
        .Nav-user-btn {
            background-color: rgb(240, 240, 240);
            width: 40px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            margin-left: 5px;
        }
            .Nav-user-icon {
                color: rgb(130, 130, 130);
            }
@media only screen and (min-width: 0) and (max-width: 1000px) {
    .Nav-logo-txt {
        visibility: hidden;
    }
}
@media only screen and (min-width: 0) and (max-width: 700px) {
    .Nav {
        height: 60px;
        box-shadow: 0 0 15px rgb(235, 235, 235);
    }
        .Nav-logo-img {
            height: 40px;
        }
        .Nav-logo-txt {
            visibility: visible;
            font-size: 22px;
        }
}