.Dates {
    margin-top: 27px;
    margin-bottom: 55px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}
.Dates * {
    background-color: transparent;
}
    .Dates-start-txt, .Dates-end-txt {
        font-size: 16px;
        font-weight: 500;
    }
    .Dates-start {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .Dates-end {
        font-size: 16px;
    }