.Guests {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-bottom: 22px;
}
.Guests * {
    background-color: transparent;
    Font-size: 16px;
}
    .Guests-adults {
        display: flex;
        justify-content: space-between;
    }
        .Guests-adults-stepper {
            display: flex;
        }
            .Guests-stepper-button {
                background-color: rgb(230, 230, 230);
                width: 22px;
                height: 22px;
                border-radius: 11px;
                padding-bottom: 2px;
                padding-left: 1px;
                overflow: hidden;
            }
            .Guests-stepper-number {
                margin-left: 5px;
                margin-right: 5px;
            }
    .Guests-children {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
        .Guests-children-stepper {
            display: flex;
        }
    .Guests-infants {
        display: flex;
        justify-content: space-between;
    }
        .Guests-infants-stepper {
            display: flex;
            margin-left: 20px;
        }