.location {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
    .location-canada {
        background-color: transparent;
        position: relative;
    }
        .location-canada-img {
            background-color: transparent;
            height: 320px;
        }
        .location-province {
            position: absolute;
        }
        .location-ON {
            left: 182px;
            top: 238px;
        }
        .location-QC {
            left: 252px;
            top: 230px;
        }
        .location-BC {
            left: 28px;
            top: 175px;
        }