.Nav {
    align-items: center;
    background-color: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.Nav * {
    background-color: transparent;
}
    .Nav-left {
        align-items: center;
        display: flex;
    }
        .Nav-logo-img {
            height: 50px;
            margin-left: 30px;
            margin-right: 10px;
        }
        .Nav-logo-img:hover {
            cursor: pointer;
        }
        .Nav-logo-txt {
            color: #FF385C;
            font-size: 25px;
            font-weight: 700;
        }
        .Nav-logo-txt:hover {
            cursor: pointer;
        }
    .Nav-right {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }
        .Nav-language-btn {
            align-items: center;
            background-color: rgb(240, 240, 240);
            border-radius: 20px;
            display: flex;
            height: 40px;
            justify-content: center;
            margin-right: 5px;
            width: 40px;
        }
            .Nav-language-icon {
                color: rgb(130, 130, 130);
                overflow: hidden;
                transform: scale(0.9);
            }
        .Nav-notifications-btn {
            align-items: center;
            background-color: rgb(240, 240, 240);
            border-radius: 20px;
            display: flex;
            height: 40px;
            justify-content: center;
            width: 40px;
        }
            .Nav-notifications-icon {
                color: rgb(130, 130, 130);
                overflow: hidden;
            }
        .Nav-user-btn {
            align-items: center;
            background-color: rgb(240, 240, 240);
            border-radius: 20px;
            display: flex;
            height: 40px;
            justify-content: center;
            margin-left: 5px;
            width: 40px;
        }
            .Nav-user-icon {
                color: rgb(130, 130, 130);
                overflow: hidden;
            }
@media only screen and (min-width: 0) and (max-width: 1000px) {
    .Nav-logo-txt {
        visibility: hidden;
    }
}
@media only screen and (min-width: 0) and (max-width: 700px) {
    .Nav {
        box-shadow: 0 0 15px rgb(235, 235, 235);
        height: 65px;
        z-index: 2;
    }
        .Nav-logo-img {
            height: 40px;
            margin-left: 15px;
        }
        .Nav-logo-txt {
            font-size: 22px;
            visibility: visible;
        }
        .Nav-right {
            margin-right: 15px;
        }
}