.property-item-wrapper {
    overflow: visible;
    position: relative;
    width: 33.33%;
}
.property-item-wrapper * {
    background-color: transparent;
}
    .property-item {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 15px;
        position: relative;
    }
        .property-item-button {
            height: 100%;
            position: absolute;
            width: 100%;
        }
        .property-item-image {
            aspect-ratio: 1/1;
            border-radius: 10px;
            object-fit: cover;
            width: 100%;
        }
        .property-item-details {
            margin-top: 15px;
        }
            .property-item-title {
                font-size: 16px;
                margin-bottom: 5px;
            }
            .property-item-location {
                color: rgb(40, 40, 40);
                margin-bottom: 5px;
            }
            .property-item-price {
                color: rgb(90, 90, 90);
            }
@media only screen and (min-width: 0) and (max-width: 550px) {
    .property-item-wrapper {
        width: 100%;
    }
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
    .property-item-wrapper {
        width: 50%;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1100px) {
    .property-item-wrapper {
        width: 33.33%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 2000px) {
    .property-item-wrapper {
        width: 25%;
    }
}
@media only screen and (min-width: 2000px) {
    .property-item-wrapper {
        width: 20%;
    }
}